h1,h2,h3,h4,h5,h6,p,a,li {
  line-height: 1.5;
  font-family: UTF-8;
}

a:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

a {
  text-decoration: none;
  color: #000;
}

.copy {
  font-size: 38px;
  color: #000;
  text-align: center;
  margin-bottom: 60px;  
}


.wrapper {
  overflow: hidden;
}

/* header */

.header-wrapper {
  background-color: #000;
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.header-logo__title {
  color: #fff;
}


.header-nav__items {
  display: flex;
  color: #fff;
  list-style: none;
}

.header-nav__items li {
  padding-right: 30px;
}

.header-nav__items li a {
  text-decoration: none;
  color: #fff;
}


.hamburger-btn {
  position: relative;
  width: 40px;
  height: 30px;
  transition: all .4s;
  border: none;
  outline: none;
  background: transparent;
  display: none;
}

/* hamburger-btn */

.hamburger-btn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}

.hamburger-btn span:nth-of-type(1) {
  top:0;
}

.hamburger-btn span:nth-of-type(2) {
  top:15px;
}

.hamburger-btn span:nth-of-type(3) {
  bottom:0;
}


/* fv */
.fv-wrapper {
  background-image: url(saaf_fv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
}

.fv-copy {
  position: absolute;
  top: 0%;
  left: 10%;
  /*transform: translate(-50%);*/
  width: 100%;
  /*text-align: center;*/
  font-size: 60px;
  color: #000;
}

.fv-copy span {
  color: red;
  font-size: 120px;
}


/* about */
.about {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 0;
}

.about h3 {
  font-size: 24px;
  padding-bottom: 15px;
  margin: 0 10%;

}

.about p {
  font-size: 20px;
  margin: 0 10%;
}


/* menu */

.menu {
  /*max-width: 1100px;
  margin: 0 auto;*/
  padding: 90px 0;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-container :nth-child(2) {
  margin: 0 50px;
}

.menu-items {
  width: calc(100vw / 3);
}

.mmenu-items__img {
  /*max-width: 430px;*/
  margin: 0 auto;
}

.menu-items__img img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.menu-items__text {
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
}


/* shop */
.shop {
  /*max-width: 1100px;
  margin: 0 auto;*/
  padding: 90px 0;
}

.shop-container {
  display: flex;
  justify-content: space-between;
}

/*.shop-container :nth-child(2) {
  margin: 0 50px;
}*/

.shop-items {
  width: calc(100vw / 3);
}

.shop-items__img {
  max-width: 300px;
  margin: 0 auto;
}

.shop-items__img img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.shop-items__text {
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
}


/* event */
.event {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 0;
}

.event-container {
  display: flex;
  flex-direction: column;
}

.event-container :nth-child(1) {
  margin-bottom: 30px;
}

.event-items {
  display: flex;
  justify-content: space-around;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.event-items__img {
  max-height: 500px;
}

.event-items__img img {
  height: 100%;
}

.event-items__text {
  text-align: center;
  font-size: 24px;
  line-height: 500px;
}

/* footer */
.footer-wrapper {
  background-color: #000;
}

.footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}

.footer h3 {
  color: #fff;
  padding-bottom: 10px;
}

.footer-items {
  color: #fff;
  list-style: none;
  margin: 0 10%;
}

.footer-items__time {
  margin-bottom: 10px;
}

.copyright {
  color: #fff;
  border-top: 1px solid #fff;
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
}


@media screen and (max-width:960px) {
  
  .copy {
    font-size: 24px;
    margin-bottom: 0;  
  }

  .header {
    padding: 15px 30px;
  }
  
  .header-nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    transition: all .8s;
    transform: translateX(100%);
    z-index: 2;
  }
  
  .header-nav__items {
   width: 100%;
   display: block; 
   height: calc(100vh - 100px);
   background-color: #000000;
   opacity: 0.7;
  }
  
  .header-nav__items li {
    margin-right: 0;
    border-bottom: solid 1px #fff;
    width: 100%;
    height: calc((100vh - 100px) / 3);
  }
  
  
  .header-nav__items li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
  }

  /* hamburger-btn */

  .hamburger-btn {
    display: block;
  }

  .hamburger-btn.active span:nth-of-type(1) {
    -webkit-transform: translateY(14px) rotate(-45deg);
    transform: translateY(14px) rotate(-45deg);
  }
  
  .hamburger-btn.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .hamburger-btn.active span:nth-of-type(3) {
    -webkit-transform: translateY(-14px) rotate(45deg);
    transform: translateY(-14px) rotate(45deg);
  }
  
  .header-nav.active {
    transform: translateX(0);
  }
  
  
  /* fv */
  .fv-wrapper {
    height: 60vh;
  }
  
  .fv-copy {
    font-size: 30px;
  }
  
  .fv-copy span {
    font-size: 60px;
  }


  /* about */
  .about {
    padding: 50px 20px;
  }
  
  .about h3 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  
  .about p {
    font-size: 16px;
  }


  /* menu */

.menu {
  padding: 50px 0;
}

.menu-container {
  flex-direction: column;
}

.menu-container :nth-child(2) {
  margin: 0;
  margin-bottom: 30px;
}

.menu-items {
  width: 100vw;
  margin-bottom: 30px;
}

.menu-items__text {
  font-size: 18px;
}


/* shop */

.shop {
  padding: 50px 0;
}

.shop-container {
  flex-direction: column;
}

.shop-container :nth-child(2) {
  margin: 0;
  margin-bottom: 30px;
}

.shop-items {
  width: 100vw;
  margin-bottom: 30px;
}

.shop-items__text {
  font-size: 18px;
}

/* event */
.event {
  padding: 50px 20px;
}

.event-container {
  display: flex;
  flex-direction: column;
}


.event-items {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/*.reverse {
  display: flex;
  flex-direction: column;
}*/

.event-items__img {
  width: 100vw;
}

.event-items__img img {
  vertical-align: bottom;
  object-fit: cover;
}

.event-items__text {
  text-align: center;
  font-size: 18px;
  line-height: 10px;
}

/* footer */
.footer {
  padding: 50px 20px;
}

.footer h3 {
  padding-bottom: 5px;
}

.footer-items {
  color: #fff;
  margin: 0 5%;
}

.footer-items__time {
  margin-bottom: 5px;
}

.copyright {
  font-size: 10px;
}

}


@media screen and (max-width:500px) {
  
  .copy {
    font-size: 20px;  
  }

  .header {
    padding: 6px 14px;
  }
  
  .header-nav {
    top: 42px;
  }
  
  .header-nav__items {
   height: calc(100vh - 10px);
  }
  
  .header-nav__items li {
    height: calc((100vh - 10px) / 3);
  }
  
  
  .header-nav__items li a {
    font-size: 20px;
  }

  
  /* fv */
  .fv-wrapper {
    height: 50vh;
  }

  .fv-copy {
    font-size: 20px;
    top: 10%;
    left: 5%;
  }
  
  .fv-copy span {
    font-size: 45px;
  }


  /* about */
  .about {
    padding: 25px 0;
  }
  
  .about h3 {
    font-size: 16px;
    padding-bottom: 5px;
  }
  
  .about p {
    font-size: 12px;
  }


  /* menu */

.menu {
  padding: 25px 0;
}

.menu-container :nth-child(2) {
  margin: 0;
  margin-bottom: 10px;
}

.menu-items {
  width: 100vw;
  margin-bottom: 10px;
}

.menu-items__text {
  font-size: 12px;
}


/* shop */

.shop {
  padding: 250x 0;
}

.shop-container :nth-child(2) {
  margin: 0;
  margin-bottom: 15px;
}

.shop-items {
  margin-bottom: 10px;
}

.shop-items__text {
  font-size: 12px;
}

/* event */
.event {
  padding: 25px 0;
}


.event-items__text {
  text-align: center;
  font-size: 12px;
  line-height: 10px;
}

/* footer */
.footer {
  padding: 25px 10px;
}

.footer h3 {
  padding-bottom: 2px;
}

.copyright {
  font-size: 6px;
  padding: 5px 0;
}

}
